{% extends "bootstrap/base.html" %}
{% block header %}
  <h1>{% block title %}Index{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm">
            <h2>Generation PDF vers fichier Excel</h2>
            <form action="{{ url_for('generate_excel') }}" method="post" enctype="multipart/form-data">
                <div class="form-row align-items-center">
                    <div class="form-group col-md-6">
                        <label class="form-check-label" form-check-labelfor="pdf">Fichier PDF (besoins) : </label>
                        <input class="form-control" type="file" name="pdf" required>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Lancer le calcul</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <h2>Generation fichier Excel avec placement des produits dans leurs groupes</h2>
            <form action="{{ url_for('generate_excel_with_group') }}" method="post" enctype="multipart/form-data">
                <div class="form-row align-items-center">
                    <div class="form-group col-md-6">
                        <label class="form-check-label" form-check-labelfor="xls_needs">Fichier Excel (besoins) : </label>
                        <input class="form-control" type="file" name="xls_needs" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="form-check-label" for="xls_groups">Fichier Excel (groupe pour chaque produit) : </label>
                        <input class="form-control" type="file" name="xls_groups" required>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Lancer le calcul</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}